<h1>Question to coach</h1>

<div class="container col-sm-12">
  <form action="/answer" data-turbo="false" method="get">
  <div class="input-group mb-3">
    <input class="form-control" type="text" name="question">
    <input class="input-group-text btn btn-primary" type="submit" value="Ask!">
  </div>
  </form>
</div>
